@model eCommerce.APIObjects.ApiProductInfo

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div>
    alkngfkjnadflkgalkdfngadfg
</div>
<div class="card-info">
    <div>
        @Model.Name
        @Model.Description
        @Model.Price
        @Model.Rating
    </div>
</div>
