
.DS_Store
eCommerce/.dockerignore
eCommerce/.vs/eCommerce/xs/project-cache/eCommerce-Debug.json
eCommerce/.vs/eCommerce/xs/project-cache/eCommerce.Database-Debug.json
eCommerce/.vs/eCommerce/xs/project-cache/eCommerce.Extensions-Debug.json
eCommerce/.vs/eCommerce/xs/project-cache/eCommerce.Tests-Debug.json
eCommerce/.vs/eCommerce/xs/project-cache/web-Debug.json
eCommerce/.vs/eCommerce/xs/UserPrefs.xml
eCommerce/eCommerce.Database/bin/Debug/net7.0/eCommerce.Database.dll
*.dll
*.dll
eCommerce/eCommerce.Database/bin/Debug/net7.0/eCommerce.Database.dll
*.pdb
*.cache
*.vs
bin
obj
wwwroot
web
eCommerce/eCommerce/obj
eCommerce/eCommerce/bin
/eCommerce/eCommerce.Database/bin
/eCommerce/eCommerce.Database/obj
/eCommerce/eCommerce.Extensions/obj
/eCommerce/eCommerce/bin
/eCommerce/eCommerce/obj
