@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}


<div style="padding: 20px">
<h2>Отчет о затратах на хранение и логистику</h2>

<div style="display: flex">
<div>
    <div>A. Затраты на заработную плату работникам скалдов (25%)</div>
    <div>B. Затраты на хранение товаров на складе (12.5%)</div>
    <div>С. Затраты на перевозку товаров (62.5%)</div>
</div>
    <div style="margin-left: 100px">
    <img src="https://01math.com/upl/ckeditor/4b8634cba7d2c2220102445c720b29b8.png" alt="image" style="height: 300px; width: 300px"/>
    </div>
</div>
</div>
