@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div style="text-align: center">
    <h1 style="margin-left: auto; margin-right: auto; color: #004e5d">Поставщики</h1>
</div>
<div style="text-align: center">
    <table class="table table-bordered table-striped" style="width:75%; margin-left: auto; margin-right: auto; ">
            <thead>
            <tr>
                <th>
                    <a  style="color: #004e5d">ID</a>
                </th>
                <th>
                    <a  style="color: #004e5d">Поставщик</a>
                </th>
                <th style="color: #004e5d">Адрес</th>
                <th>
                    <a  style="color: #004e5d">Кол-во поставок</a>
                </th>
                <th style="color: #004e5d">Общие затраты</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <th>
                        <a  class="btn btn-info w-50"><i class="fa-solid fa-gear"></i> Управление</a>
                    </th>
                </tr>
            </tbody>
            </table>
</div>
