@model eCommerce.APIObjects.ApiCredentials

@{
    Layout = "_Layout";
}

@* <h2 style="text-align: center; margin-top: 30px; color: #4CAF50">Авторизация</h2>
<form asp-controller="Authorization" asp-action="LogIn" class="login-form">
    <div class="login-page">
        <div class="form">
            <input asp-for="Email" type="text" placeholder="Логин"/>
            <input asp-for="Password" type="password" placeholder="Пароль"/>
            <button type="submit">Войти</button>
            <p class="message">Нет аккаунта? <a href="#">Создать аккаунт</a></p>
        </div>
    </div>
</form>
 *@