<!DOCTYPE html>
@using Microsoft.AspNetCore.Mvc.TagHelpers
@* @model eCommerce.ViewModels.UserProductViewModel *@
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/eCommerceStyles.css"/>
    <script src="https://kit.fontawesome.com/36256ad24c.js" crossorigin="anonymous"></script>
</head>
<body>
<header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                @* <h2> *@
                @*     <a asp-controller="Products" asp-action="GetProducts" asp-route-id="@ViewBag?.Id" style="color: #4CAF50; font-size: 20px" class="navbar-brand">eCommerce</a> *@
                @* </h2> *@
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item categories" style="margin-top: 10px">
                            <a class="nav-link text-dark">
                                <i class="fa-solid fa-list green-element"></i>
                            </a>
                            <ul class="dropdown-menu">
                                @foreach (string category in ViewBag.Categories)
                                {
                                    <li><a href="#">@category</a></li>    
                                }
                            </ul>
                        </li>
                        <li class="nav-item" style="margin-top: 10px">
                            @*<a class="nav-link" style="color: #4CAF50" asp-controller="Seller" asp-action="newSeller" asp-route-id="@ViewBag?.Id">
                                Стать Продавцом
                            </a>*@
                        </li>
                        <div>
                            <input type="text" class="search-input" placeholder="Введите запрос">
                        </div>
                        <li class="nav-item" style="margin-left: auto">
                            <a class="nav-link text-dark">
                                <i class="fa-solid fa-cart-shopping green-element" style="font-size: 30px; margin-top: 5px"></i>
                            </a>
                        </li>
                        <li class="nav-item" style="margin-right: 30px">
                            @*<a class="nav-link text-dark" asp-controller="Authorization" asp-action="SignIn" asp-route-id="@ViewBag?.Id">
                                <i class="fa-solid fa-user green-element" style="font-size: 30px; margin-top: 5px"></i>
                            </a>*@
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

@RenderBody()

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>