@model APIObjects.ApiUser

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2 style="text-align: center; margin-right: auto; margin-left: auto">Личный кабинет</h2>
<div style="margin-left: 30px">
    <h6><b>Имя: </b>Артём</h6>
    <br/>
    <h6><b>Фамилия: </b>Орсик</h6>
    <br/>
    <h6><b>Отчество: </b>Александрович</h6>
    <br/>
    <h6><b>Почта: </b>artsiom.orsik@gmail.com</h6>
    <br/>
    
    <h6><b>Ваш статус: </b>Покупатель</h6>
    <br/>
    
    <h6><b>Количество доставок: </b>12</h6>
    <br/>

    <h6><b>Текущий адрес доставки: </b>г. Минск, ул. Стариновская 19</h6>
    
    <br/>
    <button class="btn btn-primary">Редактировать данные</button>
    <button class="btn btn-primary">Добавить адрес</button>
</div>